<div class="bg-welcome mb-16">
  <div class="p-16  ">
    <div class="rental grid grid-cols-3">
      <div class="content-center">
        <Rental::Image src={{@rental.image}} alt="A picture of {{@rental.title}}" />
      </div>
      <div class=" -ml-56 details ">
        <div>
          <div class="mb-4">
            <h3 class="text-xl text-blue-600">
              <LinkTo @route="rental" @model={{@rental}}> {{!----}}
                {{@rental.title}}{{!----}}
              </LinkTo>
            </h3>
          </div>
          <div class="details grid grid-cols-2 ">
            <div class="mb-16 detail owner">
              <span>Owner:</span> <span class="font-thin">{{@rental.owner}}</span>
            </div>
            <div class="detail type">
              <span>Type:</span> <span class="font-thin">{{@rental.type}}</span>

            </div>
          </div>
          <div class="details grid grid-cols-2 ">
            <div class="detail location">
              <span>Location:</span> <span class="font-thin">{{@rental.city}}</span>

            </div>
            <div class="detail bedrooms">
              <span>Number of bedrooms:</span> <span class="font-thin">{{@rental.bedrooms}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>