<Header>
  <h2 class="text-5xl">{{@rental.title}}</h2>
  <div class="mb-6">
    <p>Nice find! This looks like a nice place to stay near {{@rental.city}}.</p>
  </div>
  {{!creando el boton al cual le paso los datos que cojo de la propia pagina para que me cree solo el tweet}}
  <Buttons::Share-button
    class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
    @text="Check out {{@rental.title}} on Super Rentals!" @hashtags="vacation,travel,authentic,blessed,superrentals"
    @via="emberjs">
    Share on Twitter
  </Buttons::Share-button>
</Header>

{{#if this.isSmall}}

<div class="mb-16">
  <div class="p-16  ">
    <div class="grid grid-cols-2">
      <div class="content-center">
        <Rental::Images::ImageDetailed src={{@rental.image}} @toggleImage={{this.toggleImage}} @isSmall={{this.isSmall}}
          alt="A picture of {{@rental.title}}" />
      </div>
      <div class="ml-10">
        <div>
          <div class="mb-4">
            <h3 class="text-5xl  ">
              <LinkTo @route="rental" @model={{@rental}}> About{{!----}}
                {{@rental.title}}{{!----}}
              </LinkTo>
            </h3>
          </div>
          <div class="grid mb-4">
            <div class="mb-8">
              <span>Owner:</span> <span class="font-thin">{{@rental.owner}}</span>
            </div>
            <div class="mb-8 ">
              <span>Type:</span> <span class="font-thin">{{@rental.type}}</span>

            </div>
            <div class="mb-8">
              <span>Location:</span> <span class="font-thin">{{@rental.city}}</span>

            </div>
            <div class="mb-8">
              <span>Number of bedrooms:</span> <span class="font-thin">{{@rental.bedrooms}}</span>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="bg-welcome mb-16 flex justify-center ...">
  <div class="p-16  ">

    <div class="mb-12">
      {{!Le pasoel alias de @toggleimage con la funcion "toggleImage" y le paso la variable
      isSmall}}
      <Rental::Images::ImageDetailed src={{@rental.image}} @toggleImage={{this.toggleImage}} @isSmall={{this.isSmall}}
        alt="A picture of {{@rental.title}}" />
    </div>
    <div class=" ml-10 ">
      <div>
        <div class="mb-4">
          <h3 class="text-5xl  ">
            <LinkTo @route="rental" @model={{@rental}}> About{{!----}}
              {{@rental.title}}{{!----}}
            </LinkTo>
          </h3>
        </div>
        <div class="grid mb-4">
          <div class="mb-8">
            <span>Owner:</span> <span class="font-thin">{{@rental.owner}}</span>
          </div>
          <div class="mb-8 ">
            <span>Type:</span> <span class="font-thin">{{@rental.type}}</span>

          </div>
          <div class="mb-8">
            <span>Location:</span> <span class="font-thin">{{@rental.city}}</span>

          </div>
          <div class="mb-8">
            <span>Number of bedrooms:</span> <span class="font-thin">{{@rental.bedrooms}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
{{/if}}