<div>
    <div class="mt-3 flex items-center justify-center">
        <h2 class="italic">We are going to use get ur data from the form to the bottom of the page</h2>
    </div>
    <form {{on "submit" this.onSubmit}} class="max-w-sm mx-auto bg-yellow-500 mt-4 rounded">
        <div class="mb-5 p-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Isert an
                email</label>

            <Input @value={{this.email}}
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div class="mb-5 p-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Insert one color of
                this:gree,blue,yellow</label>
            <Input @value={{this.color}}
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
        <div class="mb-5 p-3">
            <button type="submit" disabled={{this.disableSubmit}}
                class="bg-cyan-500 shadow-lg shadow-cyan-500/50 hover:bg-sky-700  text-black font-bold py-2 px-4 border border-black rounded ml-2">Create</button>
        </div>
    </form>

    <div class="mt-3 flex items-center justify-center">
        {{!-- <img class="w-50 h-50 " src="" alt={{this.text}} {{did-insert this.writeData}} {{did-update this.writeData
            this.magicState}}> --}}
        <h2 {{did-insert this.writeData}} {{did-update this.writeData this.magicState}}>{{this.text}}</h2>


    </div>


</div>